In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.2'

In [4]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz

--2024-01-23 22:02:18--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240124%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240124T040218Z&X-Amz-Expires=300&X-Amz-Signature=19f147495d43c251c3c2ed252ea44e005cd4f0787ef5ed403fca45d98bdf836d&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-01-23 22:02:18--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240124%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240124T040218Z&X-Amz-Expires=300&X-Amz-Signature=19f147495d43c251c3c2ed252ea44e005cd4f0787ef5ed403fca45d98bdf836d&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7854533 (7.5M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-09.csv.gz.1’

green_tripdata_2019 100%[===================>]   7.49M  4.03MB/s    in 1.9s

2024-01-23 22:02:20 (4.03 MB/s) - ‘green_tripdata_2019-09.csv.gz.1’ saved [7854533/7854533]

In [21]:
# Tutorial uses the below statement to read the taxi data, first 100 rows

df = pd.read_csv('green_tripdata_2019-09.csv.gz', nrows=100)

In [22]:
print(pd.io.sql.get_schema(df, name = 'green_taxi_data'))

CREATE TABLE "green_taxi_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [23]:
# The code to get the DDL recognizes the pickup and dropoff variables as text instead of timestamp.
# We use the following to get pandas to recognize these variables as datetime so that the DDL is correct.
# Pandas function that takes text and parses it, creating datetime object

df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [24]:
# To get DDL that will work with postgres (postgres dialect) we first need to make a connection to postgres
from sqlalchemy import create_engine

In [25]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [26]:
# Now we want to take this dataset and put it in postgres
# First we have to generate a table schema that specifies what kind of columns there are, what types, etc.
# To do this we use the following, which gives us DDl (data definition language) that specifies the schema

print(pd.io.sql.get_schema(df, name = 'green_taxi_data', con = engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [27]:
# So far, we only read in 100 rows of data, but there are many rows to read in. 
# The full dataframe is too big, we don't want to insert 1M+ rows of data into the database at the same time
# We need to batch the data. To do this we will use iterators from pandas.
# Iterators allow us to chuck the file into smaller dataframes.

df_iter = pd.read_csv('green_tripdata_2019-09.csv.gz', iterator = True, chunksize = 100000)

In [28]:
# Next if a funtion that returns the next element in an iterator
df = next(df_iter)

In [29]:
len(df)

100000

In [30]:
# Make sure variables are parsed correctly

df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [31]:
# Now we want to generate the DDL statement from above and create a table in the database
# Create the table in the database, but don't insert data yet

df.head(n=0).to_sql(name = 'green_taxi_data', con = engine, if_exists='replace')

0

In [32]:
# Now we insert the data 

%time df.to_sql(name = 'green_taxi_data', con = engine, if_exists='append')

CPU times: user 3.02 s, sys: 92.3 ms, total: 3.11 s
Wall time: 5.06 s

1000

In [33]:
from time import time

In [34]:
# Now we insert the rest of the dataframe to the table 
# '%.3f' treat as float and will have 3 decimal digits
while True:
    try:
        t_start = time()
        df = next(df_iter)

        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

        df.to_sql(name = 'green_taxi_data', con = engine, if_exists='append')

        t_end = time()

        print('inserted another chunk..., took %.3f second' % (t_end - t_start))

    except StopIteration:
            print("Finished ingesting data into the postgres database")
            break

inserted another chunk..., took 5.191 second
inserted another chunk..., took 5.170 second

/var/folders/12/c7qw9tj5267_v6lqg1cnvldc0000gn/T/ipykernel_22235/3747775942.py:6: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk..., took 5.163 second
inserted another chunk..., took 2.183 second
Finished ingesting data into the postgres database

In [27]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-01-23 22:17:37--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 16.182.73.144, 54.231.132.168, 52.217.112.88, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|16.182.73.144|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv.1’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0.09s

2024-01-23 22:17:37 (139 KB/s) - ‘taxi+_zone_lookup.csv.1’ saved [12322/12322]

In [28]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [29]:
df_zones.to_sql(name = 'zones', con = engine, if_exists = 'replace')

265